@charset "utf-8";
/* 템플릿 vol.01 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
html,
body {
  font-family: "Noto Sans KR", "AppleGothic NeoSD", "Apple SD 산돌고딕 Neo",
    "sans-serif";
  font-style: normal;
  line-height: 120%;
  color: #454545;
  font-size: 1em;
}
h1,
h2,
h3 {
  font-weight: 300;
  letter-spacing: -1px;
}
h1 {
  /* font-size: 1.5rem; */
  font-size: 1.6875rem;
}
h2 {
  font-size: 1.3em;
  color: #191919;
  line-height: 150%;
}
h3 {
  display: inline-block;
  font-size: 0.95em;
  font-weight: 400;
  letter-spacing: 0px;
}
h3 > span,
h4,
p {
  color: #999;
  font-size: 0.9em;
}
h3 > span {
  font-family: "Noto Sans KR" !important;
  font-weight: 300 !important;
}
.menu_main li,
.menu_sub li,
.sns .arrow_right,
.st_p,
.cd_home,
.page_title h1 {
  font-family: "Poppins", sans-serif;
}
.thanks_contants span {
  font-style: italic;
}
h4 {
  font-weight: 300;
}
h5 {
  font-size: 0.85em;
  font-weight: 400;
}
p {
  line-height: 170%;
}

/* navigation */
.cd_home,
.menu_sub li,
.navClass h4 {
  font-weight: 400;
}
.menu_sub li,
.cd_home a,
.navClass h4 {
  color: #000;
}
.menu_sub li {
  color: #888;
}
.menu_sub .over_s{
  color: #000;
  font-weight: 300;
}
.menu_player li,
.menu_main li {
  font-size: 0.9rem;
  color: #ededed;
  font-weight: 300;
}
.menu_sub li {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.menu_main .over,
.menu_main .over a {
  font-size: 1rem;
}
.cd_home{
  font-size: 0.9rem;
}
/* track list */
/* 미니 플레이어 */
.m_pl_artist {
  font-size: 0.95em;
  color: #ededed;
}
/* 앨범소개 */
.ali_title {
  word-break: break-word;
}
.page_title .pt_c_box {
  font-weight: 700;
  font-size: 1.7rem;
}
/* 210730_앨범소개 디자인변경  */
.page_title h1 {
  color: #fff;
  text-align: right;
  letter-spacing: 1px;
  line-height: 80%;
}
.page_title .pt_light {
  font-weight: 300;
}
.page_title .pt_c_box {
  color: #000;
}
.list_info {
  font-size: 0.75rem;
  color: #111;
}
.album_title h2 {
  color: #111;
  font-weight: 600;
  margin: 4px 0;
}
.album_dt,
.album_dt_r {
  font-size: 0.75rem;
}
.album_dt_r span {
  font-weight: 100;
}
.album_dt_l span {
  color: #333;
}
.album_dt_r span {
  color: #fff;
}
.album_dt_r b {
  font-weight: 400;
}
.album_dt b {
  font-weight: 600;
}
/* track list */
.song_song h3 {
  color:#fff;
}
.song_song h4{
  font-weight: 500;
}
/* 가사보기 */
.lyr_title {
  text-align: center;
}
/* 갤러리 */
.sns .arrow_right,
.st_p{
  font-size: 0.8rem;
  color:#111;
}
/* 비디오 */
#video_list h3{
  color:#ededed;
  line-height: 1.4rem;
}
/* THANKS TO */
.thanks_contants h4 {
  display: inline-block;
  font-weight: 400;
  font-size: 0.95em;
  color: #191919;
}
.thanks_contants h4 span {
  color: #666;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 0;
  font-size: 0.9em;
}
/* schedule, sns, review */
.schedule {
  text-align: center;
}
.sns {
  text-align: right;
}
.schedule h2,
.sns h2 {
  color: #fff;
  font-weight: 300 !important;
}
.sns h2 strong,
.schedule h2 strong {
  font-weight: 400;
}
.schedule h2 strong {
  font-size: 1.4em;
}
.sns h2,
.review h2 {
  text-align: left;
  letter-spacing: 0;
}
/* 스케줄 */
.dayday strong {
  font-size: 1.4em !important;
}
.dayday span {
  font-size: 0.9em;
}
.day_red .dayday {
  color: #f96f6c;
}
.day_blue .dayday {
  color: #4ba2c6;
}
.day_gray .dayday {
  color: #4b555f;
}
.dayinfo h3 {
  font-family: "Noto Sans KR";
  letter-spacing: -1px;
}
.dayinfo p {
  font-weight: 300;
  line-height: 150%;
  max-width: 150px;
  word-break: keep-all;
}
.day_cate {
  font-size: 0.8em;
  color: #fff;
  text-align: center;
}
/* font 최소사이즈 공통 */
/* track list */
.no_view,
.no_comment,
.no_like,
.bar,
.rv_content_id,
.rv_content_time,
.empty p,
.empty_rv p {
  font-size: 0.8em;
}
.no_view,
.no_comment,
.no_like,
.bar,
.rv_content_time,
.rv_content,
.empty p,
.empty_rv p {
  font-weight: 300;
}
.no_view,
.no_comment,
.no_like {
  letter-spacing: 0.09px;
  line-height: 25px;
}
.no_view,
.no_comment,
.no_like,
.bar,
.empty p,
.empty_rv p {
  color: #999;
}
.rv_content_time {
  color: #999;
}
.rv_content {
  letter-spacing: -0.5px;
}
.empty p,
.empty_rv p {
  letter-spacing: 0.09px;
}
/* 아티스트, 크레딧, 앨범 추가된 페이지 */
.aa_h3,
.aa_h3 b,
.album_txt b {
  color: #454545;
  font-size: 1.1em;
  font-weight: 300;
}
.aa_h3 b,
.album_txt b {
  font-weight: 500;
}
.p_thin {
  font-size: 0.9em;
}
/* 크레딧 */
.credit_txt_wrap {
  text-align: center;
}
.thin,
.credit_wrap_in li {
  font-weight: 200;
}
.credit_wrap_in {
  line-height: 1.5rem;
}
.credit_tit_b > b,
.credit_wrap_in li > b {
  color: #999;
  font-weight: 300;
}
.credit_wrap_in li {
  color: #999;
  font-size: 0.9em;
}
.ac_ad{
  color:#999;
}
@media only screen and (max-width: 325px) {
  h1,
  h2 {
    font-size: 1.1em;
  }
  h3 {
    font-size: 0.8em;
  }
  .no_view,
  .no_comment,
  .no_like,
  .bar,
  .rv_content_id,
  .rv_content_time,
  .empty p,
  .empty_rv p {
    font-size: 0.7em;
  }
  h3 > span,
  h4,
  p {
    font-size: 0.75em;
  }
  h5 {
    font-size: 0.7em;
  }
  .menu_main li {
    font-size: 0.95em;
  }
  .menu_sub li {
    font-size: 0.8em;
  }
  .menu_main .over,
  .menu_main .over a {
    font-size: 1em;
  }
}
