@charset "utf-8";
html,
body,
body > div {
  height: 100%;
}
.wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
}
header {
  position: fixed;
  width: 100%;
  z-index: 999;
}
header .gnb_menu {
  position: relative;
  background: #fff;
  /* font-size: 0; */
}
header .gnb_menu .logo {
  display: block;
  position: relative;
  z-index: 10;
  float: left;
  width: 240px;
  height: 70px;
  padding: 15px 17px 10px;
  background: #3a65f2;
  text-align: left;
  vertical-align: top;
  line-height: 1;
  text-align: center;
}
header .gnb_menu .pc_logo a {
  display: inline-block;
  width: 185px;
  height: 41px;
  background: url(../assets/images/sprite.png) no-repeat 0 0;
}
.flod_lnb header .gnb_menu .pc_logo {
  display: none;
}
header .gnb_menu .logo.fold_logo {
  display: none;
  width: 70px;
  padding: 20px;
}
header .gnb_menu .gnb_lst {
  min-width: 1450px;
}
header .gnb_menu .gnb_lst > div {
  display: inline-block;
  float: left;
  line-height: 70px;
  margin: 0 0 0 25px;
}
header .gnb_menu .gnb_lst {
  position: relative;
  min-width: 1450px;
  height: 70px;
  border-bottom: 1px solid #ddd;
}
/* 알림, 회원정보 버튼 */
header .gnb_menu .gnb_lst > ul {
  height: 100%;
  float: right;
}
header .noti_wrap,
header .user_wrap {
  display: inline-block;
  height: 100%;
  text-align: center;
  float: left;
}
header .user_wrap {
  line-height: 70px;
}
header .user_wrap.active {
  background: #e9ecef;
}
.gnb_lst .noti,
.gnb_lst .id {
  display: inline-block;
  height: 100%;
}
.gnb_lst .noti {
  width: 136px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 24px 0 0 0;
}
.gnb_lst .id {
  width: 186px;
}
.gnb_lst a > span {
  display: inline-block;
}
.gnb_lst .noti > span {
  position: relative;
  width: 20px;
  height: 22px;
  background: url(../assets/images/sprite.png) no-repeat -25px -69px;
}
.gnb_lst .noti > span::after {
  position: absolute;
  right: -5px;
  top: 0;
  content: "1";
  color: #fff;
  width: 14px;
  height: 14px;
  background: #f64f69;
  border-radius: 50%;
}
.gnb_lst .id > span {
  position: relative;
  padding: 0 22px 0 0;
}
.gnb_lst .id > span:after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 8px;
  height: 5px;
  background: url(../assets/images/sprite.png) no-repeat 0 -41px;
}
.user_wrap {
  position: relative;
}
.user_wrap ul {
  display: none;
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  height: 102px;
  border-radius: 0 0 10px 10px;
  background: #fff;
  -webkit-box-shadow: 0 0 45px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 0 45px 0 rgb(0 0 0 / 12%);
}
.user_wrap.active ul {
  display: block;
}
.user_wrap ul li {
  display: block;
  height: 48px;
  line-height: 48px;
}
.user_wrap ul li:first-child {
  border-bottom: 1px solid #ddd;
}
.user_wrap ul li a {
  width: 100%;
  height: 100%;
  padding: 0 0 0 38px;
  text-align: left;
}
.user_wrap ul li a span {
  padding: 0 0 0 25px;
  position: relative;
}
.user_wrap ul li a span::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: "";
  width: 16px;
  height: 13px;
  /* background-image: url(../images/sprite.png); */
}
.user_wrap ul li a .user_edit::before {
  background-position: -267px -179px;
}
.user_wrap ul li a .log_out::before {
  background-position: -293px -179px;
}
/* 헤더 밑부분 시작됨 */
.contents_wrap {
  height: 100%;
  position: relative;
  padding-left: 0;
  z-index: 1;
  background: #fafbfc;
}
.contents_wrap > button {
  position: absolute;
  left: 230px;
  top: 100px;
  z-index: 501;
  width: 30px;
  height: 40px;
  background: #ddd;
  border-radius: 0 4px 4px 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
  cursor: pointer;
}
.contents_wrap > button:hover {
  background: rgb(185, 185, 185);
}
.contents_wrap .lnb_menu {
  position: relative;
  position: fixed;
  left: 0;
  z-index: 500;
  width: 240px;
  height: 100%;
  padding-bottom: 40px;
  background: #fff;
  border-right: 1px solid #ddd;
  margin: 70px 0 0 0;
}
/* lnb 메뉴 fold type */
.flod_lnb header .gnb_menu .logo {
  display: none;
}
.flod_lnb header .gnb_menu .logo.fold_logo {
  display: block;
}
.flod_lnb .lnb_menu {
  width: 70px;
}
.lnb_menu .lnb_flod_btn {
  position: absolute;
  right: -20px;
  top: 20px;
  width: 40px;
}
.flod_lnb .contents_wrap .contents {
  padding: 70px 0 0 70px;
}
/* 메뉴 접힌 경우에 보이는 모습 */
.flod_lnb .lnb_wide div > span,
.flod_lnb .lnb_wide .svc_name {
  display: none;
}
.lnb_wide {
  padding: 32px 20px;
}
.lnb_wide > div {
  margin: 0 0 30px 0;
}
.lnb_wide > div > span {
  font-size: 10px;
  color: #888;
  font-weight: 600;
}
.lnb_wide > div ul span,
.lnb_wide > div > ul a {
  display: inline-block;
}
.lnb_wide > div > ul {
  padding: 18px 0 0;
}
.lnb_wide > div > ul li .sub_menu {
  display: none;
  margin: 20px 0 0 43px;
}
.lnb_wide > div > ul a {
  position: relative;
  width: 100%;
  font-size: 13px;
}
.lnb_wide > div > ul > li .m_tit .svc_name:after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 6px;
  height: 10px;
  /* background-image: url(../images/sprite.png); */
  background-position: -18px -41px;
}
/* 중첩메뉴 접히는 기능과 버튼 */
.lnb_wide > div > ul li.active .m_tit .svc_name:after {
  width: 10px;
  height: 6px;
  background-position: 0 -51px;
}
.lnb_wide > div > ul li.active .sub_menu {
  display: block;
}
.menu_icon {
  width: 22px;
  height: 22px;
  /* background-image: url(../images/sprite.png); */
  vertical-align: middle;
  margin: 0 12px 0 6px;
}
.m_potal li,
.m_review li,
.m_ad li {
  margin: 0 0 22px 0;
}
.m_potal li:last-child,
.m_review li:last-child,
.m_ad li:last-child {
  margin: 0;
}
/* 메뉴 아이콘 위치설정 */
.m_issue .menu_icon {
  background-position: -264px -126px;
}
.m_potal li:nth-child(1) .menu_icon {
  background-position: -408px -71px;
}
.m_potal li:nth-child(2) .menu_icon {
  background-position: -435px -71px;
}
.m_potal li:nth-child(3) .menu_icon {
  background-position: -464px -71px;
}
.m_review li:nth-child(1) .menu_icon {
  background-position: -408px -99px;
}
.m_review li:nth-child(2) .menu_icon {
  background-position: -435px -99px;
}
.m_review li:nth-child(3) .menu_icon {
  background-position: -464px -99px;
}
.m_review li:nth-child(4) .menu_icon {
  background-position: -408px -130px;
}
.m_ad li:nth-child(1) .menu_icon {
  background-position: -290px -126px;
}
.m_ad li:nth-child(2) .menu_icon {
  background-position: -318px -126px;
}
.m_ad li:nth-child(3) .menu_icon {
  background-position: -347px -126px;
}
/* 네이버 브랜드 검색결과 */
/* 모든 콘텐츠 공통 요소 */
.contents_wrap .contents {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 0 0 240px;
}
.contents_wrap .con01 {
  padding: 70px 0 0 240px;
}
.contents_wrap .contents .con_in {
  height: 100%;
  min-width: 1190px;
  padding: 0 16px;
}
.contents_wrap .contents .con_in .page_tit {
  padding: 35px 0;
}
.contents_wrap .contents .con_in .page_tit h2 {
  font-size: 24px;
  text-indent: 8px;
  line-height: 100%;
}
.contents_wrap .contents .con_in .page_tit p {
  font-size: 12px;
  color: #999;
  font-weight: 300;
  margin-left: 12px;
}
.page_tit h2 {
  font-family: "Noto Sans KR", sans-serif;
}
.page_tit h2,
.page_tit p {
  display: inline-block;
}
.page_tit h2 > span {
  font-weight: 300;
}
.contents_wrap .contents .con_in .section {
  width: 100%;
  margin-bottom: 15px;
  background-color: #fff;
  border: solid 1px #dddddd;
}
.section > .button_wrap {
  text-align: center;
}
.button_wrap > .btn_big {
  position: relative;
  text-align: left;
  margin: 12px auto;
  padding: 0 0 0 72px;
  border: 0;
}
.btn_big::after {
  position: absolute;
  left: 40px;
  top: 8px;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../assets/images/sprite.png) no-repeat -190px -74px;
}
.section_in {
  padding: 30px 30px 0;
}
.section .form_row {
  margin: 0 0 14px 0;
}
.section .form_term input {
  display: inline-block;
  width: 128px;
  padding: 0 5px 0 0;
  border-radius: 2px 0 0 2px;
  margin-left: 1px;
  position: relative;
}
.section .form_row > strong {
  display: inline-block;
  width: 80px;
  font-size: 13px;
  line-height: 36px;
  /* margin: 0 64px 0 0; */
  padding: 0 0 0 15px;
}
.section .form_row > .today {
  padding: 0 18px;
}
.section .form_row > .keyword {
  width: 155px;
}
.section .form_word {
  margin: 0 0 22px 0;
}
.form_word input {
  width: 275px;
  margin: 0 18px 0 0;
}

/* contents02 내용 */
.con02 .section,
.con03 .section {
  padding: 30px 30px 0;
}
.con02 .section h3 {
  position: relative;
  font-size: 15px;
  font-weight: 500;
}
.con02 .section h3::after {
  right: 0;
  top: 0;
}
.con02 .section_in {
  width: 100%;
  padding: 20px 0 45px;
}
.con02 .section_in .left,
.con02 .section_in .right {
  width: 50%;
  height: 230px;
  float: left;
}
.con02 .section_in .left {
  background: #eaeaea;
}
.con02 .section_in .right {
  background: #e0c5c5;
}
/* contents03 내용 */
.contents_wrap .con03 .con_in .section {
  margin-bottom: 130px;
}
.form_group button {
  position: relative;
  width: 122px;
  height: 34px;
  padding: 0 0 0 32px;
  text-align: left;
}
.form_group button::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 9px;
  width: 14px;
  height: 14px;
  /* background-image: url(../images/sprite.png); */
}
.form_group .btn_excel::before {
  background-position: -104px -136px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .container_wrap {
    display: block;
    padding-left: 0;
  }
}
