@charset "utf-8";
/* 앱 공통부분 css */
button,
fieldset,
img {
  border: 0;
}
blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
html,
body {
  font-family: "Noto Sans KR", "AppleGothicNeoSD", "Apple SD 산돌고딕 Neo",
    "sans-serif";
  background-color: #ebebeb;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: #454545;
  font-size: 1em;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* overflow-y: scroll; */
  -ms-touch-action: none;
  /* 화면을 길게 누르고 있을때 뜨는 팝업이나 액션시트를 제어 */
  -webkit-touch-callout: none;
  /* 텍스트나 이미지를 선택할 수 있게 하는 여부를 제어 */
  -webkit-user-select: none;
  /* 링크를 터치했을때 나오는 기본 영역의 색상을 제어 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a,
a:hover {
  color: #454545;
  text-decoration: none;
}
button:hover {
  cursor: pointer;
}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}
*:focus {
  outline: none;
}
ul,
li {
  list-style: none;
}
hr {
  border: none;
}
#no_network {
  margin-top: 15%;
}
#no_network p {
  text-align: center;
  margin-bottom: 6px;
  color: #666;
}
.intro {
  width: 100%;
  height: 100%;
  background-image: url("../images/splash.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.intro div {
  position: absolute;
  top: 60%;
  left: 28%;
  z-index: 5;
  background-color: #ccc;
  height: 4px;
  width: 44%;
}
.intro div .bar_on {
  background: linear-gradient(
    to right,
    rgba(86, 198, 215, 1),
    rgba(181, 80, 158, 1)
  );
  height: 4px !important;
  display: inline-block;
}

.hidden {
  display: none;
}
.m_r_20 {
  margin-right: 20px;
}
.m_l_20 {
  margin-left: 20px;
}
.m_t_20 {
  margin-top: 20px;
}
.m_b_20 {
  margin-bottom: 20px;
}

.txt_11 {
  font-size: 0.7em;
}
.txt_12 {
  font-size: 0.8em;
}

.container {
  position: relative;
  background: #fff;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 201;
}

.close {
  display: block;
  background-image: url("../images/cu01_btn_close.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 12px;
  z-index: 10;
}
.fl_left {
  float: left;
}
.fl_right {
  float: right;
}

/* 회원가입 로그인 관련 */
.container_popup {
  background: #ebebeb;
  height: 100%;
  width: 100%;
}
#pop_top {
  background: #fff;
  width: 100%;
  clear: both;
  position: fixed;
}
#cu10_a,
#cu10_c,
#cu10_b,
#cu10_f,
#cu10_e,
#cu10_d,
#cu10_g,
#cu01_a,
#cu01_c,
#cu01_b,
#cu01_f,
#cu01_e,
#cu01_d,
#cu01_g {
  width: 100%;
  clear: both;
  position: relative;
}
#cu10_a .mb_title,
#cu10_b .mb_title {
  background-image: url("../images/cu10_img_member_1.png");
}
#cu10_c .mb_title,
#cu10_f .mb_title {
  background-image: url("../images/cu10_img_member_2.png");
  background-position: right bottom !important;
}
.mb_title {
  /* width: -webkit-calc(100% - 44px);
  width: -moz-calc(100% - 44px);
  width: calc(100% - 44px); */
  height: 70px;
  margin-left: 0px !important;
  margin: auto !important;
  background-size: contain;
  background-position: right bottom !important;
  background-repeat: no-repeat;
}
.mb_title h1 {
  font-size: 2em !important;
  font-weight: 200;
  font-family: "Noto Sans KR";
  padding-top: 14px;
}
#cu10_b .mb_title h1,
#cu10_f .mb_title h1 {
  padding-top: 0;
  padding-bottom: 10px;
}
#cu10_e .mb_title,
#cu10_g .mb_title,
#cu10_d .mb_title {
  height: 20px;
}
#cu10_e h2,
#cu10_g h2,
#cu10_d h2 {
  font-weight: 200;
  margin: 20px 0;
}
#cu10_e h2 {
  margin: 40px 0;
  font-weight: 200;
}
#cu10_e > div:first-child > h2 {
  margin: 20px 0 !important;
}
.mb_title h4 {
  font-size: 0.9em !important;
  padding-top: 10px;
}
.mb_sns {
  display: flex;
  justify-content: center;
  clear: both;
}
.mb_sns,
.mb_form {
  margin: 20px auto;
}
.mb_sns li {
  /* background: #fff;
  border: thin #ccc solid; */
  padding: 12px 12px 12px 54px;
  height: 20px;
  margin-bottom: 6px;
  font-size: 1em;
  position: relative;
  float: left;
}
.mb_sns li span {
  display: inline-block;
  width: 44px;
  height: 44px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
}
.kakao {
  background: #ffe800 url("../images/cu01_ic_kakao.png") no-repeat center;
  border: 1px solid #ffe800;
}
.naver {
  background: #2cb400 url("../images/cu01_ic_naver.png") no-repeat center;
}
.facebook {
  background: #2e4e99 url("../images/cu01_ic_fb.png") no-repeat center;
}
.twitter {
  background: #33ccff url("../images/cu01_ic_twt.png") no-repeat center;
}
.apple {
  background: #000 url("../images/cu01_ic_apple.png") no-repeat center;
}
.kakao,
.naver,
.facebook,
.twitter,
.apple {
  background-size: 20px 20px;
}

.mb_content {
  width: -webkit-calc(100% - 44px);
  width: -moz-calc(100% - 44px);
  width: calc(100% - 44px);
  margin: 14px auto;
}
.mb_content p {
  margin: 12px auto;
  font-size: 0.9em !important;
  text-align: center;
}
#cu10_e .mb_form {
  margin-bottom: 6px !important;
}

.mb_text {
  border: thin solid #ccc;
  background: #fff;
  padding: 14px;
  height: 150px;
  overflow-y: scroll;
  font-size: 0.8em;
}

.btn_bora {
  color: #fff;
}
.btn_boraline,
.btn_boraline2 {
  margin: 10px 0 8px;
}
.btn_boraline2 {
  float: left;
}
.btn_boraline2 {
  font-weight: 600;
  color: #333;
  float: right;
}
#srhidpass {
  border: none;
  float: left;
  width: 150px;
  font-size: 0.8em;
  font-weight: 600;
  margin: 12px 0;
  padding: 0;
  text-align: left;
  color: #333;
  background-color: #ebebeb;
}
#logout {
  font-size: 1em;
  display: block;
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
}
.cu10 #join,
.btn_bora {
  font-size: 1em;
  display: block;
  padding: 10px 0;
  width: 100%;
}
.btn_grayline {
  font-size: 1em;
  display: block;
  padding: 10px 0;
  width: 100%;
  border: thin solid #ccc;
  color: #666;
  background-color: rgba(0, 0, 0, 0);
}
.container_popup button img {
  width: 16px;
  height: 16px;
  margin-left: 6px;
  vertical-align: middle;
}

.input_style {
  background: #fff;
  padding: 10px;
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  width: 100%;
  border: thin solid #ccc;
  margin-bottom: 6px;
  font-size: 1em;
}
.nick .input_style {
  display: inline-block;
  background-color: #ebebeb;
  padding: 10px 0;
  width: -webkit-calc(80% - 45px);
  width: -moz-calc(80% - 45px);
  width: calc(80% - 45px);
  border: none;
  margin-bottom: 6px;
  font-size: 1em;
  border-radius: 0px;
}
.input_style::-webkit-input-placeholder {
  color: #999;
  font-size: 0.9em;
}
.input_style:-ms-input-placeholder {
  color: #999;
  font-size: 0.9em;
}
.input_style:-moz-placeholder {
  color: #999;
  font-size: 0.9em;
}
.input_style::-moz-placeholder {
  color: #999;
  font-size: 0.9em;
}

.nick .input_style::-webkit-input-placeholder {
  color: #333;
  font-size: 1em;
}
.nick .input_style:-ms-input-placeholder {
  color: #333;
  font-size: 1em;
}
.nick .input_style:-moz-placeholder {
  color: #333;
  font-size: 1em;
}
.nick .input_style::-moz-placeholder {
  color: #333;
  font-size: 1em;
}

.alert {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 8px;
}

.form-checkbox {
  margin-top: 1px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.loginpw_box .form-checkbox {
  width: 100%;
  margin-bottom: 20px;
}
.form-checkbox input {
  position: absolute;
  opacity: 0;
}
.form-checkbox .checkmark {
  position: absolute;
  top: 13px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 1px solid #555555;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: 1px solid #ce4fc4;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  display: none;
}
.form-checkbox input:checked ~ .checkmark::after {
  display: block;
}
.form-checkbox p {
  margin-left: 34px;
  padding-top: 0;
  color: #333;
  font-size: 0.8em;
  font-weight: 400;
}
.form-checkbox .text {
  font-weight: 700;
}
/* 210202 */
#cu10_g .profile {
  width: 100px;
  height: 100px;
  margin: 24px auto;
  position: relative;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}

.mb_profile {
  margin: -20px 0 12px 0;
}
.mb_profile li {
  height: 45px;
  width: 100%;
  line-height: 45px;
}
.mb_profile li span {
  display: inline-block;
  width: 20%;
}
.profile .btn_boraone {
  position: absolute;
  right: -12px;
  bottom: -12px;
}
.nick {
  position: relative;
}
.nick .btn_boraone {
  position: absolute;
  right: 0;
  bottom: -6px;
  width: 36px;
  height: 36px;
}
.nick a {
  display: inline-block;
  width: -webkit-calc(80% - 45px);
  width: -moz-calc(80% - 45px);
  width: calc(80% - 45px);
}
.btn_boraone {
  border-radius: 25px;
  width: 45px;
  height: 45px;
}
.btn_boraone img {
  margin-left: 0 !important;
}

.popup_layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
  z-index: 9998;
}
.outer_popup {
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: calc(100% - 40px);
  margin: 0 auto;
}
.inner_popup {
  position: absolute;
  background-color: #fff;
  width: 90%;
  height: 586px;
  z-index: 9999;
  top: 50%;
  margin-top: -293px;
}
.popup_imgarea {
  width: 100%;
  height: 550px;
}
.popup_toolbar {
  width: 100%;
  height: 37px;
  /* border-top: 1px solid #ccc; */
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Noto Sans KR Regular";
  color: #454545;
}
.pop_toolbar_L {
  float: left;
  width: 65%;
  height: 100%;
  line-height: 36px;
  text-align: center;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
.pop_toolbar_R {
  float: right;
  width: 35%;
  height: 100%;
  line-height: 36px;
  text-align: center;
}

/* info 스탠다드 프리미엄공통 */
#in01 {
  position: relative;
  z-index: 101;
}
.si_toolbar {
  display: flex;
  align-items: center;
  background-color: #000;
}
.si_toolbar h1 {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 1.6875rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 1px;
  margin: 0 0 0 10px;
}
.in10_version {
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0 0 20px;
}
.si_content {
  background-color: #ebebeb;
  height: 100vh;
}
.si_logo_area {
  padding-top: 7%;
  text-align: center;
}
.snsbtn_area {
  width: 100%;
  margin: 24px 0;
  height: 45px;
}
.inner_snsbtn_area {
  text-align: center;
  height: 45px;
}
.youtube_btnCir,
.instar_btnCir,
.facebook_btnCir,
.facebook_btnCir,
.twiter_btnCir,
.naver_btnCir {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  overflow: hidden;
  background-size: 45px;
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;
}
.youtube_btnCir {
  background-image: url("../images/in01_btn_yt.png");
}
.instar_btnCir {
  background-image: url("../images/in01_btn_is.png");
}
.facebook_btnCir {
  background-image: url("../images/in01_btn_fb.png");
}
.twiter_btnCir {
  background-image: url("../images/in01_btn_tw.png");
}
.naver_btnCir {
  background-image: url("../images/in01_btn_nv.png");
}
.si_btn_area {
  width: -webkit-calc(100% - 44px);
  width: -moz-calc(100% - 44px);
  width: calc(100% - 44px);
  margin: 0 auto;
}
.si_boraline_btn,
.si_bora_btn,
.si_gray_btn {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 17px;
  text-align: center;
  font-family: "Noto Sans KR Regular";
  padding: 10px 0;
  margin: 0 0 8px;
}
.si_boraline_btn {
  border: 0.5px solid #6b1ede;
  background-color: #fff;
  color: #6b1ede;
}
.si_bora_btn {
  border: 0.5px solid #6b1ede;
  background-color: #6b1ede;
  color: #fff;
}
.si_gray_btn {
  position: relative;
  border: 0.5px solid #737373;
  background-color: #ebebeb;
  color: #737373;
}
#in10 .line {
  width: 100%;
  border-bottom: 1px solid #999;
  margin: 15px 0;
}
.si_btnimg_s {
  width: 18px;
  height: 18px;
  margin-left: 6px;
  vertical-align: middle;
}
.si_footer {
  margin-top: 32px;
}
.si_footer > p {
  font-family: "Noto Sans KR Regular";
  font-size: 16px;
  color: #737373;
  text-align: center;
}
/* 공통화면 상단 ui에 따라 높이 변동되는 버튼, 제목 등 */
.si_toolbar {
  padding: 22px 12px 5px;
}
#pop_top {
  height: 60px;
}
.close {
  margin: 22px 0 0;
}
#member_close {
  margin: 12px 0 0;
}
#cu10_a,
#cu10_c,
#cu10_b,
#cu10_f,
#cu10_e,
#cu10_d,
#cu10_g,
#cu01_a,
#cu01_c,
#cu01_b,
#cu01_f,
#cu01_e,
#cu01_d,
#cu01_g {
  padding: 25% 0 0 0 !important;
}
/* 1차추가 cu01_b 가입창 추가되는 부분 */
.apple {
  background: #000 url(../images/cu01_ic_apple.png) no-repeat center;
  background-size: 20px 20px;
}
.google {
  background: #fff url(../images/cu01_ic_google.png) no-repeat center;
  background-size: 22px 22px;
}
/* 1차추가 cu01_h  */
.mb_sns li:last-child {
  padding: 12px 0px 12px 54px;
}
.mb_title h1 {
  padding-bottom: 10px;
}
.mb_in_tit1,
.mb_in_tit2 {
  font-size: 0.9em;
  color: #666;
  font-weight: 300;
}
.mb_in_tit1 {
  padding: 0 0 5px;
}
.mb_in_tit2 {
  padding: 15px 0 5px;
}
.mb_in_tit strong {
  color: #ce4ec4;
}
#cu01_h .mb_form {
  margin: 0 auto 20px;
}
@media (min-height: 812px) and (max-height: 846px) {
  #member_close {
    margin: 46px 0 0;
  }
  .container_popup {
    padding-top: 10px;
  }
  .input_style {
    width: 100%;
    width: -webkit-(100%);
  }
}
@media only screen and (max-height: 640px) {
  #cu01_g {
    padding: 15% 0 0 0 !important;
  }
}
@media only screen and (max-width: 325px) {
  .mb_title h4 {
    font-size: 0.8em !important;
  }
  #cu01_a .mb_title h1,
  #cu01_c .mb_title h1 {
    padding-top: 20px !important;
  }
  .mb_title h1 {
    font-size: 1.8em !important;
  }
}
/* 통합앱버전 */
/* 회원가입 */
.cu10 h3 > span,
.cu10 h4,
.cu10 p {
  color: #666;
  font-size: 0.9em;
}
.cu10 .alert,
.cu10 #logout,
.cu10 .mb_title h4 strong,
.cu10 .mb_content p strong {
  color: #6b1ede;
}
.cu10 #logout,
.cu10 #join,
.cu10 .btn_bora {
  border: thin solid #6b1ede;
}
.cu10 .btn_boraone,
.cu10 .btn_bora {
  background: #6b1ede;
}
.cu10 #join {
  color: #6b1ede;
  background-color: #fff;
}
.container_popup .cu10 #join img {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}
#cu10_g .profile {
  border: 1px solid #333;
}
.cu10 .nick .input_style {
  color: #454545;
  font-weight: 600;
  border-bottom: 1px solid #a7a7a7;
}
.cu10 .nick #profile_tel {
  border-bottom: 0;
}
.mb_profile li {
  font-weight: 500;
}
.mb_profile li span:first-child {
  font-size: 0.9rem;
  font-weight: 400;
}
.cu10 .btn_grayline,
.cu10 #logout {
  font-weight: 600;
}
.cu10 .btn_grayline {
  color: #888;
}
/* 통합앱 추가되는 화면  */
#cr10,
#cl10,
#ci10,
#cs10 {
  width: 100%;
  background-color: #000;
  background-image: url(../images/ct10_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.chip {
  height: 100%;
}
.ct10_top_wrap {
  padding: 22px 0 0;
}
.cb10_bt_wrap {
  position: fixed;
  bottom: -1px;
  width: 100%;
  z-index: 100;
}
.tot_wrap {
  padding: 154px 0 0;
}
.ct10_top_wrap {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.info_btn {
  margin: 0 12px;
}
.info_btn a {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url(../images/ct10_info_btn.png);
  background-size: cover;
}
.ct10_title {
  text-align: center;
  margin: 0 0 10px 0;
}
.ct10_title img {
  width: 165px;
}
.cb10_menu,
.ct10_menu {
  display: flex;
}
.ct10_menu {
  justify-content: center;
}
.ct10_menu li {
  position: relative;
  padding: 0 15px;
}
.ct10_menu li::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-55%);
  content: "";
  width: 0.5px;
  height: 26px;
  background-color: #777;
}
.ct10_menu li:last-child::after {
  display: none;
}
.cb10_menu li a,
.ct10_menu li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: cover;
}
/* 상단메뉴 */
.ct10_menu .ct10_m01 a {
  background-image: url(../images/ct10_hv_btn_off.png);
}
.ct10_menu .ct10_m01 a.on {
  background-image: url(../images/ct10_hv_btn_on.png);
}
.ct10_menu .ct10_m02 a {
  background-image: url(../images/ct10_main_btn_off.png);
}
.ct10_menu .ct10_m02 a.on {
  background-image: url(../images/ct10_main_btn_on.png);
}
.ct10_menu .ct10_m03 a {
  background-image: url(../images/ct10_sp_btn_off.png);
}
.ct10_menu .ct10_m03 a.on {
  background-image: url(../images/ct10_sp_btn_on.png);
}
/* 하단메뉴 */
.cb10_menu .cb10_m01 a {
  background-image: url(../images/cb10_chip_btn.png);
}
.cb10_menu .cb10_m02 a {
  background-image: url(../images/cb10_home_btn.png);
}
.cb10_menu .cb10_m03 a {
  background-image: url(../images/cb10_marker_btn.png);
}
/* 미니플레이어와 높이가 같게 되면 ok */
.cb10_menu {
  width: 100%;
  height: 60px;
  background-color: #ededed;
  justify-content: space-between;
  padding: 10px 15px;
  box-sizing: border-box;
}
.chip_slide {
  width: 100%;
  height: 340px;
}
.cr10_cst {
  position: absolute;
  bottom: -230px;
  left: -90px;
  z-index: -1;
}
.cr10_cst img {
  /* position: absolute;
  bottom: -200px;
  left: -90px; */
  width: 97%;
  /* z-index: -1; */
}
/* 폰트 관련설정 */
.con_option {
  font-size: 0.8rem;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 5px 15px 0;
}
.chip_r_tit {
  color: #e9e9e9;
}
.chip_recent_li,
.chip_r_artist,
.chip_r_bt a {
  color: #999;
}
.chip_r_info,
.chip_r_bt {
  font-size: 0.75rem;
}
.chip_r_bt a {
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
}
.chip_r_rday {
  line-height: 34px;
}
.chip_r_bt,
.chip_r_bt a {
  font-family: "Poppins", sans-serif;
}
.con_option .select {
  color: #fff;
  width: 100%;
  height: 30px;
  border: 1px solid #454545;
  background-color: #000;
}
/* IE 10, 11의 네이티브 화살표 숨기기 */
#cp02 select::-ms-expand {
  display: none;
}
/* 구매 목록 */
.chip_get {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
}
.chip_get_li {
  width: 30%;
}
.chip_get_li img {
  width: 100%;
}
/* 발매된 칩디스크 */
.chip_recent_scr,
.chip_get_scr {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  width: calc(100% - 30px);
  margin: 0 auto;
  padding: 20px 0 0;
}
.chip_get_scr,
.chip_get_wrap {
  height: 110%;
}
.chip_recent_scr,
.chip_recent_wrap {
  height: 135%;
}
.chip_recent {
  border: 1px solid #454545;
}
.chip_recent_li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  border-bottom: 1px solid #454545;
  background-color: #111;
  padding: 0 15px;
  box-sizing: border-box;
}
.chip_recent_li:nth-child(2n-1) {
  background-color: #000;
}
.chip_recent_li:last-child {
  border-bottom: 0;
}
.chip_r_info {
  display: block;
  height: 19px;
}
.chip_r_artist {
  margin: 0 0 12px 0;
}
.chip_r_bt {
  width: 96px;
}
.chip_r_bt a {
  float: right;
  width: 30px;
  height: 30px;
  border: 1px solid #484848;
  border-radius: 50%;
}
.chip_recent_right img {
  width: 120px;
}
/* 목록에 칩디스크 슬라이드부분 */
/* 라이브러리 */
.img-box > img {
  width: 100%;
  display: block;
}
.row::after {
  content: "";
  display: block;
  clear: both;
}
.margin-0-auto {
  margin: 0 auto;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.text-align-center {
  text-align: center;
}
.line-height-0-ch-only {
  line-height: 0;
}
.line-height-0-ch-only > * {
  line-height: normal;
}
/* 커스텀 */
.con-min-width {
  min-width: 320px;
}
html {
  overflow-x: hidden;
}
/* 중앙 컨텐츠 3차 visual story */
.chip_slide-div {
  height: 100vh;
}
.chip_slide-wrap {
  font-size: 25px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.chip_slide-wrap .chip_slide-tt {
  text-align: center;
  margin-bottom: 11px;
}
.chip_slide-wrap .chip_slide-slider {
  text-align: center;
  padding: 67.12px 0 0;
}
.chip_slide-wrap .chip_slide-slider .slick-list {
  height: 350px !important;
  box-sizing: border-box;
  padding-top: 50px;
}
.chip_slide-wrap .chip_slide-slider .slider-item {
  max-width: 690px;
  position: relative;
  padding: 15px 0 0;
}
.chip_slide-wrap .chip_slide-slider .slider-item .img-box > img {
  transform-origin: 50% 50%;
  /* 211110 S 임시 적용 */
  transform: scale(0.88) translate(70%);
  /* 211110 E 임시 적용 */
  transition: transform 0.5s linear;
}
.chip_slide-wrap .chip_slide-slider .slick-center .slider-item .img-box > img {
  transform: scale(1.2);
  transition: transform 0.5s linear;
}
.slick-track {
  margin: 10px 0;
}
/* visual story 내부 텍스트 */
.chip_slide-wrap .chip_slide-slider .slider-item > .chip_slide-desc-list {
  margin-top: 26px;
  opacity: 0;
  transform: translateY(30%);
  transition: opacity 0.8s, transform 0.8s;
  padding: 20px 0 0;
}
.chip_slide-wrap
  .chip_slide-slider
  .slick-active
  .slider-item
  > .chip_slide-desc-list {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s 0.5s, transform 0.8s 0.5s;
}
.chip_slide-wrap .chip_slide-slider .slider-item {
  max-width: 55vw;
}
.chip_slide-wrap
  .chip_slide-slider
  .slider-item
  > .chip_slide-desc-list
  > .chip_slide-desc-tt {
  font-size: 1.3rem;
}
.chip_slide-desc-tt {
  color: #fff;
  font-weight: 600;
}
.chip_slide-desc-list.none .chip_slide-desc-tt {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  width: 150px;
  text-align: center;
  margin: auto;
}
.chip_slide-wrap
  .chip_slide-slider
  .slider-item
  > .chip_slide-desc-list.none
  > .chip_slide-desc-tt {
  font-size: 1.2rem;
}
.chip_slide-wrap
  .chip_slide-slider
  .slider-item
  > .chip_slide-desc-list
  > .chip_slide-desc {
  font-size: 1rem;
  color: #9933ff;
  margin: 5px 0 0;
  font-weight: 500;
}
.chip_slide-desc-list.none p {
  display: none;
}
.chip_slide-wrap .chip_slide-tt {
  font-size: 40px;
}

.chip_slide-wrap .chip_slide-slider .slider-item > a::after {
  display: none;
}

.chip_slide-wrap .chip_slide-slider .slider-item > a > .discover {
  display: none;
}
.slick-counter {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  color: #999;
}
.slick-counter .current {
  color: #fff;
}
/* ci10 */
.ci10_loading {
  text-align: center;
}
.ci10_loading img {
  width: 100%;
}
.ci10_chip {
  position: absolute;
  display: none;
}
/* iPhone 12 Mini, iPhone 11 Pro, iPhone Xs 및 iPhone X */
/* iPhone 11 및 iPhone XR */
/* iPhone 11 Pro Max 및 iPhone Xs Max */
/* iPhone 12 및 iPhone 12 Pro */
/* iPhone 12 Pro max */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3),
  screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2),
  screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3),
  screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3),
  screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) {
  .ct10_top_wrap {
    padding: 46px 0 0;
  }
  .tot_wrap {
    padding: 178px 0 0;
  }
  .cb10_menu {
    height: 80px;
  }
}
/* 갤럭시 S21 2021년 최신폰 높은해상도에서 */
@media only screen and (min-width: 325px) and (min-height: 812px) {
  .cb10_menu {
    height: 70px;
  }
}
/* 옛날 기종 작은폰 */
@media only screen and (max-width: 360px) and (max-height: 720px) {
  /* 칩디스크 슬라이드목록화면 */
  .chip_slide-wrap
    .chip_slide-slider
    .slick-center
    .slider-item
    .img-box
    > img {
    transform: scale(1.1);
  }
  .chip_slide-wrap .chip_slide-slider {
    padding: 20px 0 0;
  }
  .chip_slide-wrap .chip_slide-slider .slider-item > .chip_slide-desc-list {
    padding: 0;
  }
  .chip_slide-wrap .chip_slide-slider .slick-list {
    height: 285px !important;
  }
  .chip_slide-wrap .chip_slide-slider .slider-item > .chip_slide-desc-list {
    margin-top: 20px;
  }
  .chip_slide-wrap
    .chip_slide-slider
    .slider-item
    > .chip_slide-desc-list.none
    > .chip_slide-desc-tt {
    width: 140px;
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  .chip_slide-wrap
    .chip_slide-slider
    .slider-item
    > .chip_slide-desc-list
    > .chip_slide-desc {
    font-size: 0.9rem;
    margin: 0;
  }
  .chip_slide-wrap {
    transform: translateY(-47%);
  }
  /* 갖고있는 칩디스크 목록 */
  .chip_get_scr,
  .chip_get_wrap {
    height: 130%;
  }
  /* 발매된 칩디스크목록 */
  .chip_recent_scr,
  .chip_recent_wrap {
    height: 155%;
  }
}
