/* CSS Document */
#nc01_a, #nc01_b, #nc01_c, #nc01_d, #nc01_e {position:relative; width:100%; height:100%; font-size:1.0em}
.nfc_toparea{z-index: 10; position:relative; width:100%; height:40%;}
.nfc_imgarea{z-index: 10; position:absolute; left:50%; top:50%; margin:-60px 0 0 -105px; bottom: 0; width:210px; height:210px; text-align: center}
.nfc_textarea{z-index: 10; width:100%;}
.nfc_btnarea{z-index: 10; text-align:center; margin:30px 40px 0 40px;}
.nfc_footer{ z-index: 1;  width:100%; text-align:center; margin-top: 70px}

.nfc_title{font-size:48px; color:#333; text-align:center; margin:20px 0; font-family: "Noto Sans KR Thin", Arial; font-weight: 100}
.nfc_titlehan{font-size:24px; color:#333; text-align:center; margin:20px 0; font-family: "Noto Sans KR Medium", Arial; font-weight: 500}

.nfc_textarea > p{color:#666; font-size:1.0em; text-align:center; padding:5px 12px; line-height: 1.4em}
.nfc_textarea  strong {font-weight: 800; font-family: "Noto Sans CJK KR Bold"}

.nfc_strong {font-size:0.85em; letter-spacing: -1px; line-height: 1.2em; font-family: "Noto Sans CJK KR Bold";font-weight: 1000;
	background: linear-gradient(to right, #c65bb1, #4cd1e4);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;}

.nfc_submit_btn{border:1px solid #ccc; background-color:#DAE3F3; color:#000; cursor:pointer; box-sizing:border-box; font-size:14px; text-align:center; padding:8px 21px; margin:5px 50px;}
.nfc_login_btn{border:1px solid #ccc; background-color:#DAE3F3; color:#000; cursor:pointer; box-sizing:border-box; font-size:14px; text-align:center; padding:8px 21px; margin:5px 50px;}
.nfc_find_btn{border:1px solid #ccc; background-color:#fff; color:#000; cursor:pointer; box-sizing:border-box; font-size:14px; text-align:center; padding:8px 21px; margin:5px 50px;}
.nfc_footer_logo{height:2rem; margin-bottom:8px;}
.nfc_footer > p{color:#999; font-size:10px; text-align:center;} 

.nfc_btnarea button {width: 48%; margin:0 auto;}
.nfc_input {width:100%; margin:0 auto; text-align: center}
.nfc_input input { text-align: center; padding: 10px; border: 1px solid #8A23A0; margin:6px; width: 60px; border-radius: 3px; font-size: 1.2em;}

/* 세로 높이에 맞춰서 레이아웃 재정리 */
@media only screen and (max-height:667px) {	
	.nfc_footer{margin-top: 25px}
}